<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
     <main class="container">

      <h2><%= item.name %></h2>
      <small class="card-subtitle mb-2 text-muted">
        added by <%= item.userName %> on <%= item.createdAt %>
      </small>
      <br></br>
      <b>Priority:</b>
      <p><%= item.priority %></p>
      <br>
      <b>Max Budget:</b>
      <p>$<%= item.budget %></p>

      <br></br>

      <a href="/items/<%= item.id %>/<%= item.name %>/edit" class="btn btn-warning">Edit</a> <!--Button to send current item meta info from PSQL to the edit.ejs page -->

      <a href="/items/<%= item.id %>/<%= item.name %>/delete"  class="btn btn-danger">Delete</a>



    </main>
     <% include ../static/partials/baseScripts.ejs %>
   </body>
</html>
